<% provide(:title, @shop.name) %>

<div class="row">
    <aside class="col-md-4"> 
        <section class="user_info"> 
            <h1>
                <%= @shop.name %>
                <% if current_shop?(@shop)%>
                <%= link_to 'Edit shop', edit_shop_path(current_shop) %>               
                <%= link_to 'Add product',new_product_path %>
                <%= link_to "Delete shop", @shop, data: {"turbo-method": :delete, turbo_confirm: "Delete your shop will be delete all product too, continues?" } %>
                <% end %>   
            </h1> 
            <h5>id shop: <%= @shop.id %> </h5> 
            <h5>Description: <%= @shop.description %> </h5> 
            <h5>shop.user_id: <%= @shop.user_id %> </h5> 
            <h5>Current_user: <%= current_user.id %> </h5> 
            <h5>Current_shop: <%= current_shop.id %> </h5>            
            <br>
            <h2>All Products:</h2>
            <% @products.each do |product| %>
                <li>
                    <h3>
                        <%= link_to product.name, product %>
                    </h3>  
                    <h5>Price: <%= product.price %></h5>  
                    <h5>Shop_id: <%= product.shop_id %>
                    <h5>Shop: <%= product.shop.name %></h5>  
                    <h5>Color: <%= product.color %></h5>   
                    <h5>Size: <%= product.size %></h5>   

                    <h5>Description: <%= product.description %></h5>

                </li>
            <% end %>
        </section>  
    </aside> 
</div>