<% provide(:title, @user.name) %>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <% if @user.image? %>
                    <div class="cirle_custom">
                    <%= image_tag(@user.image.url, width:"150px") %>
                    </div>
                <% else %>
                    <%= image_tag(src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg", class:"rounded-circle mt-5", width:"150px" )%>
                <% end %>
                <br>
                <span class="font-weight-bold">
                    <h4><b><%= @user.name %></b>
                    </h4>
                </span>            
                <span class="text-black-50">
                    <%= @user.email %>
                </span>
            </div>
        </div>
        <div class="col-md-5 border-right">     
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="text-right">Your Profile</h1>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                    <h5>Name:</h5>
                    <%= @user.name %>
                    </div>
                    <div class="col-md-12">
                    <br>
                    <h5>Email:</h5>
                    <%= @user.email %>
                    </div>
                    <div class="col-md-12">
                    <br>
                    <h5>Address:</h5>
                    <%= @user.address %>
                    </div>
                    <div class="col-md-12">
                    <br>
                    <h5>Phone number:</h5>
                    <%= @user.phone_number %>
                    </div>

                </div>
                <div class='mt-5 text-center'>
                    <% if current_user?(@user) %>
                    <%= link_to "Edit your profile", edit_user_path(current_user) , class:"btn btn-primary" %>
                    <% end %>
                    <br><br>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <% if @user.role == 1 %>
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">                   
                    <div class="d-flex justify-content-between align-items-center mb-3">
                    <br><br>
                    </div>
                </div>
                <h4 class="col-md-12">Shop information</h6>
                <br>
                <div class="col-md-12"><h5 class="labels">Shop name:</h5>
                <%= @shop.name %>
                </div> 
                <br>
                <div class="col-md-12"><h5 class="labels">Shop description:</h5>
                <%= @shop.description %>
                </div>
                <div class="col-md-12">
                <h5 class="labels"></h5>
                    <% if current_user?(@user) %>
                    <br>
                    <%= link_to "Your shop",current_shop, class:"btn btn-primary"%>
                    <%= link_to "Edit shop",edit_shop_path(current_shop), class:"btn btn-primary"%>       
                    <%= link_to "New item",new_product_path, class:"btn btn-primary"%>             
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

