<% provide(:title,'Your order   ') %>

<% @orders.each do |order| %>
<% @order_items = order.order_items %>

<section class="h-100 h-custom" style="background-color: #FFF0F5;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h2 class="fw-bold mb-0 text-black">Your order:<%= order %></h2></div>
                    <h5><b># Customer: <%= order.name %></b></h5>
                    <h6>Phone: <%= order.phone %></h6>
                    <h6>Delivery to: <%= order.address %>
                <% @order_items.each do |order_item|%>                     
                    <hr class="my-4">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">                    
                      <div class="col-md-2 col-lg-2 col-xl-2">


                          <%= image_tag(src="https://www.pngkey.com/png/detail/365-3654131_cart-empty-image-your-cart-is-empty.png", class: "img-fluid") %>
                   
                      </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <div class="text-muted">
                          <h6>
                          <%= link_to order_item.name,'#' %> 
                          </h6>
                      </div>
                      <div class="text-black mb-0">
                        <h6>Size: <%= order_item.size %></h6>
                      </div>
                    </div>                      
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <h6>Price: $<%= order_item.price %></h6>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <div class="mb-0">
                        <h6>Quantity: <%= order_item.quantity %><h6>
                      </div>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <h6>$<%= order_item.price*order_item.quantity %></h6>
                    </div>
                  </div>
                <% end %>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-4">
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
            
                    </div>
                           <h5>$<%= order.sum_money %></h5>

                  </div>
                                   <%= button_to "Confirmed",'#', class: "btn btn-primary w-100" %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>

