<h1>CartItems#show</h1>
<p>Find me in app/views/cart_items/show.html.erb</p>

<p style="color: green"><%= notice %></p>
<h1>
<%= @cart_item.product.name %><br>
<%= @cart_item.size %><br>
<%= @cart_item.quantity %><br>
<%= @cart_item.cart_session.user.name %><br>

</h1>


