<% provide(:title, 'Edit product') %>

<%= form_with(model: @product, local: true ) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="container">
    <div class="card p-4 mt-5">
        <div class="row g-3">
            <div class="col-12 mb-4">
                <span class="text-muted">
				#Edit shop product page: 
				</span>
				<h4><%= @product.name %></h4>
					<h6>Shop: <%=@product.shop.name %></h6>
					<h6>id: <%=@product.id %></h6>

            </div>
            <div class="col-lg-6 col-md-12">
                <%= f.label :name,"Name:" %>
                <%= f.text_field :name, class: "form-control",placeholder:"*" %>
            </div>
            <div class="col-lg-6 col-md-12">
                <%= f.label :price,"Price:" %>
                <%= f.text_field :price, class: "form-control",placeholder: "*" %>     
            </div>
            <div class="col-lg-6 col-md-12">
                <%= f.label :color,"Color:" %>
                <%= f.text_field :color, class: "form-control",placeholder: "*" %>    
            </div>
            <div class="col-lg-6 col-md-12">
                <div>
                    <%= f.label :images, "Product images:" %>
                    <%= f.file_field :images, multiple: true, class: "form-control" %>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div>
                <%= f.label :description,"Description:" %>
                <%= f.text_area :description, placeholder: "Will be display in description product part ..." %>  
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div>
                <%= f.label :information,"Information:" %>
                <%= f.text_area :information, placeholder: "Will be short description of product page details ... " %>  
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div>
                <%= f.label :size_s,"Size S:" %>
                <%= f.number_field :size_s, class: "form-control",placeholder: "Quantity" %>  
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div>
                <%= f.label :size_m,"Size M:" %>
                <%= f.number_field :size_m, class: "form-control",placeholder: "Quantity" %>  
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div>
                <%= f.label :size_l,"Size L:" %>
                <%= f.number_field :size_l, class: "form-control",placeholder: "Quantity" %>  
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div>
                <%= f.label :size_xl,"Size XL:" %>
                <%= f.number_field :size_xl, class: "form-control",placeholder: "Quantity" %>  
                </div>
            </div>
            </div>			

                <%= f.submit "Update product", class: "btn btn-primary"  %>
                
        </div>
    </div>
</div>
<% end %>