<% provide(:title, 'Edit product') %>

<h1>Edit product</h1>

<div class="row">   
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @product, local: true ) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :price %>
            <%= f.text_field :price %>
            
            <%= f.label :color %>
            <%= f.text_field :color %>

            <%= f.label :description %>
            <%= f.text_field :description %>
            
            <%= f.label :size_s, "Size S:" %>
            <%= f.number_field :size_s, placeholder: "Quantity" %>
            <%= f.label :size_m, "Size M" %>
            <%= f.number_field :size_m, placeholder: "Quantity" %>
            <%= f.label :size_l, "Size L:" %>
            <%= f.number_field :size_l, placeholder: "Quantity" %>
            <%= f.label :size_xl, "Size XL:" %>
            <%= f.number_field :size_xl, placeholder: "Quantity" %>

            <%= f.submit "Edit product", class: "btn btn-primary" %> 
        <% end %>
    </div>
</div>



