<% provide(:title, @product.name) %>

   <!-- Breadcrumb Start -->
    <%= form_with url: add_to_cart_path do |f| %>
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <div class="breadcrumb-item text-dark"> 
                        <%= link_to 'Home', root_path %>
                    </div>
                    <div class="breadcrumb-item text-dark">
                        <%= link_to 'Shop',@product.shop %>
                    </div>
                    <div class="breadcrumb-item text-dark">
                        <%= link_to 'All product', products_path %>
                    </div>

                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid pb-5" style="padding: 50px 10%">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <% @product.images.each do |image| %>
                            <div class= "carousel-item active">
                            <%= image_tag image.url,class: "w-100 h-100"  %>
                            </div>
                        <% end %>

                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3><%= @product.name %></h3>
                    <h5>Sold count: <%= @count %></h5>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                        <small class="pt-1">(9 Reviews)</small>
                    </div>
                    <%= content_tag :h3, class: "font-weight-semi-bold mb-4" do %>
                      $<%= @product.price %>
                    <% end %>
                    <%= content_tag :h3, class: "font-weight-semi-bold mb-4" do %>
                        <h5>
                        Shop: <%= @product.shop.name %></h5>
                    <% end %>                       
                    <p class="mb-4">
                        <%= @product&.information %>
                    </p>
                    
                    <div class="product__number mb-2">
                        <% if (status.to_i == 1) %>
                            <h5 class="bluetext">Available</h5>
                        <% else %>
                            <h5 class="redtext">Out of stock</h5>
                        <% end %>
                    </div>

                    <div class="d-flex align-items-center mb-3">
                        <div class="col-2">
                        <%= f.select :size, [["Size S - #{@product.size_s}", "S"], ["Size M - #{@product.size_m}", "M"], ["Size L - #{@product.size_l}", "L"],["Size XL - #{@product.size_xl}", "XL"]], class: "form-select", id: "inputGroupSelect01" %>
                        </div>
                    </div>
                    <div class="d-flex mb-2">
                        <%= content_tag :strong, class: "text-dark mr-3" do %>
                        Color: <%= @product.color %>
                        <% end %>
                    </div>
                    <div class="d-flex align-items-center mb-2 pt-2">
                            <input type="button" value="-" class="btn_quantity">
                            <%= f.text_field :quantity, value: 1, class: "btn_quantity" %>
                            <input type="button" value="+" class="btn_quantity">
                        <%# <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button> %>

                    </div>
                    <%= f.submit "Add to cart",class: "btn btn-primary px-3", style: "margin: 0px; background-color:#4169E1" %>
                    <div><br></div>
                    <% if current_shop?(@shop)%>
                        <div class="d-flex pt-2">
                            <strong class="text-dark mr-2">Shop action:</strong>
                        </div>
                        <%= link_to 'Edit product', edit_product_path(@product), class: "btn btn-secondary" %>
                        <%= link_to "Destroy item", @product, data: {"turbo-method": :delete, turbo_confirm: "Item will be delete?" }, class: "btn btn-danger" %>

                    <% end %>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>
                                <p><%= @product.description %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <!-- Shop Detail End -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<%= javascript_importmap_tags("custom/detail") %>
<script>
    const size__ = document.getElementById("size")
    size__.classList.add('form-select')
</script>