<% provide(:title, @product.name) %>

<div class="row">
    <aside class="col-md-4"> 
        <section class="user_info"> 
            <h1>Name: <%= @product.name %></h1> 
            <h5>Price: <%= @product.price %></h5>  
            <h5>shop id: <%= @product.shop_id %></h5>
            <h5>Shop: <%= @product.shop.name %></h5>  
            <h5>Color: <%= @product.color %></h5>   
            <h5>Description: <%= @product.description %></h5>
            <h5>Current_shop: <%= current_shop.id %> </h5>      
                <h3>
                    <%= link_to 'Edit product', edit_product_path(@product) %>
                    <% if current_shop?(@shop)%>
                        <%= link_to "Delete this item", @product, data: {"turbo-method": :delete, turbo_confirm: "Item will be delete?" } %>
                    <% end %>
                </h3>    

        </section> 
    </aside> 
</div>

